<h1>Set State for Article</h1>

<%= form_for @article, url: set_state_article_path(@article), method: :patch do |f| %>
  <div class="field">
    <%= f.label :state %>
    <%= f.select :state, options_for_select(['active', 'pending']), {}, prompt: 'Select State' %>
  </div>

  <div class="actions">
    <%= f.submit 'Set State' %>
  </div>
<% end %>
